@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

.cta{
    background: url(../../images/bg-simplify-section-desktop.svg), $color-pry-100;
    background-repeat: no-repeat;
    background-position: rem(180) rem(-130), center;
    min-height: rem(220);
    padding: rem(62) rem(163);
    display:flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(medium){
        background: url(../../images/bg-simplify-section-mobile.svg), $color-pry-100;
        background-repeat: no-repeat;
        padding: rem(91) rem(31);
        flex-direction: column;
        gap: rem(29);
    }

    h2{
       max-width: rem(445);
        color: $color-neu-400;

        @include breakpoint-down(medium){
            text-align: center;
            max-width: 100%;
        }
    }


    .button{
    
    box-shadow: none;
    cursor: pointer;
    background: $color-neu-400;
    color: $color-pry-100;
    font-size: rem(13);
    font-weight: $weight-bold;
    

    &:hover{
                color: $color-btn-hover;
            }
    
    }

}