@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}


.feature-testimonial{
    background: url(../../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: rem(-1000) rem(250);

    @include breakpoint-down(medium){
        background: none;
    }
}

// *********** feautes section styling
.features{
    margin-top: rem(100);
    padding: 0 rem(165);
    gap: rem(125);

    @include breakpoint-down(medium){
        flex-direction: column;
        align-items: center;
        padding: 0;
        text-align: center;
    }

    &__left{
        max-width: rem(445);
        flex-direction: column;

        @include breakpoint-down(medium){
            min-width: 100%;
            padding: 0 rem(22);
        }

        p{
            width: rem(350);
            margin-top: rem(24);

            @include breakpoint-down(medium){
                width: 100%;
            }

        }
    }

    &__right{

        max-width: rem(540);
        flex-direction: column;
        gap: rem(40);

        @include breakpoint-down(medium){
            min-width: 100%;
            padding-left: rem(16);
        }

        .feature{


            @include breakpoint-down(medium){
                margin-top: rem(54);
            }

            &:not(:first-of-type){
                margin-top: rem(40);
                
            }

        

            &-header{
                gap: rem(28);

                @include breakpoint-down(medium){
                    background-color: #FFF0EC;
                    border-radius: rem(39) 0 0 rem(39) ;
                }
            }

            &-no{
                background: $color-pry-100;
                padding: rem(6) rem(23) rem(10) rem(25);
                border-radius: rem(39);
            }

            &-text{
                margin-top: rem(9);

                p{
                    text-align: left;
                    padding-left: rem(95);
                }
            }
        }
    }
}

.testimonial{
    margin: 100px auto;
    display: flex;
    flex-direction:column ;
    // justify-content: center;
    align-items: center;
    gap: rem(62);
    position: relative !important;



    .swiper-container {
      width: 100%;
      min-height: rem(400) !important;
      position: relative !important;
      background: none !important;

    }

    .swiper-wrapper{
        position: relative !important;
        background: none !important;

    }

    .swiper-slide {
      background: none !important;

        position: relative !important;
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-pagination-bullet-active{
        background-color: $color-btn-hover;
    }

  
   

    .slide{
        // height: 80%;
        margin:  0 auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FAFAFA;
        position: relative !important;
        z-index: 10000;
        height: 100%;
        width: 50%;
        text-align: center;
        gap: rem(20);
        
        @include breakpoint-down (medium){
            width: 80%;
        }

        &__img{
            // position: relative !important;
            top: 0;
            transform: translateY(10%);
            z-index: 100000000000000000000000000000000 !important;

            img{
                
                width: rem(72);
                height: rem(72);
                z-index: 100000000000000000000000000000000 !important;

                
            }
        }

    }

        

    p{
        padding: 0 rem(21);
    }
}