@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

.footer{
    padding: rem(62) rem(168);
    background-color:$color-neu-200 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);

    @include breakpoint-down(medium){
        padding: rem(40) rem(24);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        place-items: center;
    }

    &__logo{
        @include breakpoint-down(medium){
            place-self: center;
        }
    }

    &__links{
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        gap: rem(100);
        @include breakpoint-down(medium){
            grid-column: 1;
            grid-row: 2/3;
            place-self: center;
        }

        &-link{
            display: flex;
            flex-direction: column;
            gap: rem(13);
            a{
                color:$color-neu-400;
                font-size: rem(15);

                &:hover{
                    color:$color-pry-100 ;
                }
            }
        }
    }

    &__socials{
        grid-column: 1/2;
        grid-row: 2/3;
        place-self:end start;

        @include breakpoint-down(medium){
            grid-column: 1;
            grid-row: 3/4;
            place-self: center;
        }


        i{
            font-size: rem(20);
            color: $color-neu-400;

            &:not(:first-of-type){
                margin-left: rem(13);
            }

            &:hover{
                color: $color-pry-100;
            }
        }
    }

    &__contact{
        display: flex;
        align-items: center;
        gap: rem(8);
        place-self: start end;

        @include breakpoint-down(medium){
            grid-column: 1;
            grid-row: 1/2;
            place-self: center;
        }

        input{
            width: rem(200);
            height: rem(44);
            border-radius: rem(22);
            border: none;
            padding-left: rem(16);
            font-size: rem(13);

            &:focus{
                outline: 1px solid $color-pry-100;
            }
            @include breakpoint-down(medium){
                width: rem(239);
            }

        }

        &-cta{
            display:grid;
            place-items: center;
            width: rem(64);
            height: rem(44);
            box-shadow: none;
            color: $color-neu-400;
            font-size: rem(13);
            font-weight: $weight-bold;
            background-color: $color-pry-100;
            text-align: center;
            border-radius: rem(22);

            &:hover{
                background-color: $color-btn-hover;
                transition: background 500ms ease-in-out;
            }

            @include breakpoint-down(medium){
                width: rem(80);
            }

        }
    }

    &>p{
        place-self: end;
        @include breakpoint-down(medium){
            place-self: center;
        }
    }


}